.academic__title{
    text-align: center;
    color: var(--color-letra);
    font-weight: 700;
    font-size: 2rem;
    font-family: raleway sans-serif;
    
}
@media (max-width: 768px){
    .academic__title{
        margin-top: 0;
    }
}
