.academic__courses__item__img{
    display: flex;
    background-color: var(--blanco);
    width: 368px;
    height: 286px;
    align-items: center;
    justify-content: center;
}

.academic__courses__item__img img{
    width: 192px;
    height: 130px;
}