.skills__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(90% - 1rem);
    padding: 0 5rem;
      
}

@media (max-width: 768px) {
    .skills__line {
       width: 100%;
       padding: 0 1rem 0 0.5rem;
       flex-wrap: wrap;
       justify-content: flex-start
    }
}