.hobbies__box{
    justify-content: space-between;
    background-color: var(--blanco);
    width: 176px;
    height: 174px;
    margin: 0.5rem;
    
}

@media (max-width: 768px) {
    .hobbies__box {
        height: 8rem;
    }
}