.experiencia__botao--repo{
    border: 1px solid var(--azul-100);
    padding: 1rem;
    color: var(--azul-100);
    font-size: 16px;
    width: 105px;
    height: 51px;
    
}
@media (max-width: 768px){
    .experiencia__botao--repo{
        margin-right: 1rem;
        padding: 0.5rem;
        width: 105px;
        height: 40px;
    }
}