.experience__botao--demo {
    background-color: var(--azul-100);
    padding: 1rem;
    font-size: 16px;
    color: var(--blanco);
    border: none;
    width: 105px;
    height: 51px;
}

@media (max-width: 768px){
    .experience__botao--demo{
        padding: 0.5rem;
        width: 105px;
        height: 40px;
    }
}