.experience__title {
    color: var(--negro);
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 768px){
    .experience__title{
        font-size: 1rem;
        margin-top: 1rem;
    }
}