.title__bio{
    color: var(--color-letra);
    font-size: 45px;
    margin-top: 45px;
    width: 46.9375rem;
}

@media (max-width: 768px) {
    .title__bio{
        font-size: 22px;
        width: 95%;
        flex-shrink: 2;
    
    }
}