.title__subsection{
    font-size: 22px;
    color: var(--color-letra);
    width: 46.9375rem;
}

@media (max-width: 768px){
    .title__subsection{
        font-size: 16px;
        width: 90%;
        
        flex-shrink: 2;
        font-weight: 400;

    {
}
