.formcontato__subtext {
    font-size: 1rem;
    color: var(--negro);
   margin: 0 0 1rem 0;
    font-weight: 500;
}

@media (max-width: 768px){
    .formcontato__subtext{
        font-size: 1rem;
    }
}